In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Luanda,AO,2021-10-02 12:39:24,-8.8368,13.2343,80.60,69,75,11.50
1,1,Istok,XK,2021-10-02 12:39:54,42.7808,20.4875,67.15,41,0,3.80
2,2,Chokwe,MZ,2021-10-02 12:39:54,-24.5333,32.9833,96.37,21,100,10.56
3,3,Albany,US,2021-10-02 12:32:24,42.6001,-73.9662,54.30,94,92,3.94
4,4,Ushuaia,AR,2021-10-02 12:34:43,-54.8000,-68.3000,35.26,69,75,1.14

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
import ipywidgets as widgets
#For if display isn't working properly
#!jupyter nbextension enable --py --sys-prefix gmaps

In [1]:
#!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [42]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Luanda,AO,2021-10-02 12:39:24,-8.8368,13.2343,80.60,69,75,11.50
6,6,Souillac,MU,2021-10-02 12:35:00,-20.5167,57.5167,77.38,69,75,16.11
9,9,Sibu,MY,2021-10-02 12:38:15,2.3000,111.8167,80.91,88,40,5.01
14,14,Butaritari,KI,2021-10-02 12:34:50,3.0707,172.7902,82.90,71,95,18.84
17,17,Waw,SS,2021-10-02 12:39:56,7.7029,27.9953,83.53,66,97,7.11
18,18,Sao Filipe,CV,2021-10-02 12:34:47,14.8961,-24.4956,80.92,75,63,5.91
19,19,Faanui,PF,2021-10-02 12:35:20,-16.4833,-151.7500,79.20,72,62,20.94
21,21,Jambi,ID,2021-10-02 12:39:56,-1.6000,103.6167,75.81,90,100,2.24
22,22,Kutum,SD,2021-10-02 12:39:56,14.2000,24.6667,88.93,14,0,5.28
23,23,Ribeira Grande,PT,2021-10-02 12:35:32,38.5167,-28.7000,75.60,78,20,12.66

In [43]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Luanda      AO     80.60  -8.8368   13.2343
6         Souillac      MU     77.38 -20.5167   57.5167
9             Sibu      MY     80.91   2.3000  111.8167
14      Butaritari      KI     82.90   3.0707  172.7902
17             Waw      SS     83.53   7.7029   27.9953
18      Sao Filipe      CV     80.92  14.8961  -24.4956
19          Faanui      PF     79.20 -16.4833 -151.7500
21           Jambi      ID     75.81  -1.6000  103.6167
22           Kutum      SD     88.93  14.2000   24.6667
23  Ribeira Grande      PT     75.60  38.5167  -28.7000

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [55]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [57]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Luanda,AO,80.60,-8.8368,13.2343,LANDU MARINEZA LUFUANDU TONI
6,Souillac,MU,77.38,-20.5167,57.5167,Shanti Maurice Resort & Spa
9,Sibu,MY,80.91,2.3000,111.8167,RH HOTEL (4 Star)
14,Butaritari,KI,82.90,3.0707,172.7902,Isles Sunset Lodge
17,Waw,SS,83.53,7.7029,27.9953,Universal Gab Hotel
18,Sao Filipe,CV,80.92,14.8961,-24.4956,Hotel Xaguate
19,Faanui,PF,79.20,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
21,Jambi,ID,75.81,-1.6000,103.6167,ASTON Jambi Hotel & Conference Center
22,Kutum,SD,88.93,14.2000,24.6667,Dibbo areaمنطقة دبو
23,Ribeira Grande,PT,75.60,38.5167,-28.7000,Quinta da Meia Eira

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))